{
  "plugins": [
    "transform-es2015-modules-umd",
      "check-es2015-constants",
      "transform-es2015-block-scoped-functions",
      "transform-es2015-arrow-functions",
      "transform-es2015-classes",
      "transform-es2015-parameters",
      "transform-es2015-block-scoping",
      "transform-export-extensions"
   ]
}